
<!-- Header-->
<header class="pattern-diagonal-lines-xl bg-dark text-black-50 h-5 py-5">
	<div class="container px-5">
		<div class="row gx-5 justify-content-center">
			<div class="col-lg-6">
				<div class="text-center my-5">
					<h1 class="display-5 fw-bolder text-white mb-2"><span style="background-color: #212529;">¡Hola!</span></h1>
					<p class="lead text-white mb-4">
						<span style="background-color: #212529;">Este proyecto corresponde a un trabajo práctico para la materia "Laboratorio de programación IV" de la carrera Tecnicatura Superior en Programación de la UTN FRA</span>
					</p>
					<div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
						<button class="btn btn-primary btn-lg px-4 me-sm-3" (click)="onStart()">Empezar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>


<div *ngIf="this.isUserLogged">

	<div class="container my-5">
		<div class="row">
			<div class="col-sm-3 d-flex align-items-stretch mt-3">
				<div class="card">
					<div class="card-body  d-flex flex-column">
						<h5 class="card-title">Ahorcado</h5>
						<p class="card-text">El clásico juego del Ahorcado ¿Podés adivinar la palabra antes de quedarte sin intentos?</p>
						<a [routerLink]="'juegos/ahorcado'" class="btn btn-outline-primary mt-auto">Jugar</a>
					</div>
				</div>
			</div>
			<div class="col-sm-3 d-flex align-items-stretch mt-3">
				<div class="card">
					<div class="card-body  d-flex flex-column">
						<h5 class="card-title">Mayor o menor</h5>
						<p class="card-text">La próxima carta puede ser mayor o menor. Sumás puntos cada vez que aciertes.</p>
						<a [routerLink]="'juegos/mayor-menor'" class="btn btn-outline-primary mt-auto">Jugar</a>
					</div>
				</div>
			</div>
			<div class="col-sm-3  d-flex align-items-stretch mt-3">
				<div class="card">
					<div class="card-body d-flex flex-column">
						<h5 class="card-title">Preguntados</h5>
						<p class="card-text">Muchas preguntas, cinco opciones y solo una respuesta correcta.</p>
						<a [routerLink]="'juegos/preguntados'" class="btn btn-outline-primary mt-auto">Jugar</a>
					</div>
				</div>
			</div>
			<div class="col-sm-3  d-flex align-items-stretch mt-3">
				<div class="card">
					<div class="card-body  d-flex flex-column">
						<h5 class="card-title">Simon</h5>
						<p class="card-text">Intentá recordar la secuencia luego de verla. Con cada acierto, la secuencia aumenta.</p>
						<a [routerLink]="'juegos/simon'" class="btn btn-outline-primary mt-auto" style="bottom: 0;">Jugar</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
