<div class="container-md" style="font-size: 135%; margin-top: 2.5vh;">
	<div class="row align-items-center">
		<div class="col d-flex justify-content-end">
			<img class="home-img" src="../../../assets/066-man-puzzle-code.svg">
		</div>
		<div class="col">
			<div>
				<h1 class="mb-3">¡Hola!</h1>
				<h4 class="mb-3">🕹 Sala de Juegos</h4>
				<div style="width: 35rem;">
					<p>
						Este proyecto corresponde a un trabajo práctico para la materia "Laboratorio de programación IV" de la carrera Tecnicatura Superior en Programación de la UTN FRA
					</p>
				</div>
				<a class="btn btn-outline-dark btn-md" href="#!" role="button">
					Empezar
				</a>
			</div>
		</div>
	</div>
</div>
