<div class="b-example-divider"></div>

<div class="container col-xxl-8 px-4 py-5">
	<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
		<div class="col-10 col-sm-8 col-lg-6">
		<img src="../../../assets/069-man-note-pin.svg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
		</div>
		<div class="col-lg-6">
		<h1 class="display-5 fw-bold lh-1 mb-3">Sobre mí</h1>
		<h4 class="mb-3 text-muted">Pablo Córdoba</h4>
		<p class="lead">
			Soy un apasionado del software, con una gran afición por la tecnología en general 😀
			<br> <br>
			Mi carrera profesional comenzó de forma independiente, en el diseño gráfico y la administración de redes sociales para negocios 📱
			<br> <br>
			Luego de un año y medio, comencé mi trabajo como desarrollador frontend en Bromus Software 💻 
			<br> <br>
			Gracias a un gran aprendizaje y un rápido avance, realicé una transición a la posición de Project Manager, en la que me desempeño actualmente, coordinando dos equipos en paralelo, en un servicio a un cliente con presencia internacional 🌎
		</p>
		</div>
	</div>
</div>
