<div class="w-25 mx-auto" style="margin-top: 10vh;">
	<!-- Pills content -->
	<div class="tab-content">
		<div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
		<form>
			<div class="text-center mb-3">
				<p>Registrar con google:</p>
		
				<button type="button" class="btn btn-link btn-floating mx-1">
					<i class="fab fa-google"></i>
				</button>
			</div>
	
			<p class="text-center">O con tu correo electrónico:</p>
	
			<!-- Email input -->
			<div class="form-outline mb-4">
				<label class="form-label" for="loginName">Email o nombre de usuario</label>
				<input [(ngModel)]="this.emailInputStr" 
					type="email" id="loginName" class="form-control" 
					name="emailInput"
				/>
			</div>
	
			<!-- Password input -->
			<div class="form-outline mb-4">
				<label class="form-label" for="loginPassword">Contraseña</label>

				<input [(ngModel)]="this.passwordInputStr" 
					type="password" id="loginPassword" class="form-control" 
					name="passwordInput"
				/>
			</div>
	
			<!-- Submit button -->
			<button 
				type="submit" class="btn btn-dark btn-block mb-4"
				(click)="onSignIn()"
			>
				Acceder
			</button>
	
			<!-- Register buttons -->
			<div class="text-center">
				<p>¿Ya tenés una cuenta? <a [routerLink]="'/login'">Iniciar sesión</a></p>
			</div>
		</form>
		</div>
	</div>
	<!-- Pills content -->
</div>