<div class="main-container">

	<div class="container d-flex flex-column align-items-center mt-5">
		<h1>Simon</h1>
		<div>
			<button class="btn btn-outline-dark" style="width: 6rem;" (click)="this.onStart()">Start</button>
			<div class="mt-4" > Puntos: {{ this.score }} </div>
		</div>
	</div>

	<div class="container mt-5">
		<div class="row noMargin">
			<div class="col p-3">
				<button #Button1 [disabled]="this.isCpuTurn" class="simon-btn green"
					(click)="this.onButtonPressed(1)">
					
				</button>
			</div>
			<div class="col p-3">
				<button #Button2 [disabled]="this.isCpuTurn" class="simon-btn red"
					(click)="this.onButtonPressed(2)">

				</button>
			</div>
		</div>
		<div class="row noMargin">
			<div class="col p-3">
				<button #Button3 [disabled]="this.isCpuTurn" class="simon-btn yellow"
					(click)="this.onButtonPressed(3)">

				</button>
			</div>
			<div class="col p-3">
				<button #Button4 [disabled]="this.isCpuTurn" class="simon-btn blue"
					(click)="this.onButtonPressed(4)">

				</button>
			</div>
		</div>
	</div>
	
	

</div>
