<div class="container  px-5" style="margin-top: 10vh;" >
	<!-- Pills content -->
	<div class="row gx-5 justify-content-center">
		<form class="col-lg-5">
			<div class="text-center mb-3">
				<h1> Iniciar sesión </h1>
				<p>Acceder con google:</p>
		
				<button type="button" class="btn btn-link btn-floating mx-1">
					<i class="fab fa-google"></i>
				</button>
			</div>
	
			<p class="text-center">O con tu cuenta:</p>
	
			<!-- Email input -->
			<div class="form-outline mb-4">
				<label class="form-label" for="loginName">Email o nombre de usuario</label>
				<input [(ngModel)]="this.emailInputStr" 
					type="email" id="loginName" class="form-control" 
					name="emailInput"
				/>
			</div>
	
			<!-- Password input -->
			<div class="form-outline mb-4">
				<label class="form-label" for="loginPassword">Contraseña</label>

				<input [(ngModel)]="this.passwordInputStr" 
					type="password" id="loginPassword" class="form-control" 
					name="passwordInput"
				/>
			</div>
	
			<!-- Submit button -->
			<button 
				type="submit" class="btn btn-dark btn-block mb-4  me-2"
				(click)="onLogin()"
			>
				Acceder
			</button>

			<button 
				type="submit" class="btn btn-outline-dark btn-block mb-4"
				(click)="onAutocomplete()"
			>
				Autocompletar
			</button>
	
			<!-- Register buttons -->
			<div class="text-center">
				<p>¿No tenés cuenta? <a [routerLink]="'/signin'">Registrarme</a></p>
			</div>
		</form>
	</div>
	<!-- Pills content -->
</div>